<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlxd.microcloud.dao.BatchTaskMapper">


    <resultMap id="TaskMap" type="com.hlxd.microcloud.vo.CodeUnion">
        <result column="qr_code"               property="qrCode" />
        <result column="package_code"          property="packageCode" />
        <result column="item_code"             property="itemCode" />
        <result column="machine_code"          property="machineCode"/>
        <result column="machine_name"          property="machineName" />
        <result column="package_machine_code"  property="packageMachineCode" />
        <result column="package_machine_name"  property="packageMachineName" />
        <result column="relation_date"         property="relationDate" />
        <result column="package_relation_date" property="packageRelationDate" />
        <result column="brand_id"              property="brandId" />
        <result column="shift_id"              property="shiftId" />
        <result column="package_shift_id"      property="packageShiftId" />
    </resultMap>

    <resultMap id="errorMap" type="com.hlxd.microcloud.vo.ScheduleErrorCode">
        <result column="qrcode"               property="qrCode" />
        <result column="schedule_date"        property="scheduleDate" />
        <result column="id"                   property="id" />
        <result column="relation_date"        property="relationDate" />
        <result column="machine_code"         property="machineCode" />
        <result column="table_name"           property="tableName" />
        <result column="execute_state"        property="executeState" />
    </resultMap>



    <select id="getPackageCodeUnion" resultType="java.lang.String" >
        select
DISTINCT(parent_code) as parent_code
from t_hl_system_code
where package_type = 2
and relation_date <![CDATA[<=]]> str_to_date('2020-10-23','%Y-%m-%d')
    </select>


    <select id="getCodeUnion" parameterType="java.util.HashMap" resultMap="TaskMap">
        select
        thsc.qrCode as qr_code,
        thsc_1.qrCode as package_code,
        thsc_1.parent_code as item_code,
        thsc.machine_code,
        thbm.machine_name,
        thsc_1.machine_code as package_machine_code,
        thbm_1.machine_name as package_machine_name,
        thsc.relation_date,
        thsc_1.relation_date as package_relation_date,
        thsc.brand_id,
        thsc.shift_id,
        thsc_1.shift_id as  package_shift_id
        from t_hl_system_code thsc
        left join t_hl_base_machine thbm
        on thsc.machine_code = thbm.machine_code
        left join t_hl_system_code thsc_1
        on thsc.parent_code = thsc_1.qrCode
        left join t_hl_base_machine thbm_1
        on thsc_1.machine_code = thbm_1.machine_code
        where thsc.package_type = 1
        and thsc_1.parent_code  in(
        select
        DISTINCT(parent_code) as parent_code
        from t_hl_system_code
        where package_type = 2
        and relation_date  <![CDATA[<]]> date_add(Str_to_date(DATE_FORMAT(now(),'%Y-%m-%d'),'%Y-%m-%d'),INTERVAL #{end} DAY) and relation_date  <![CDATA[>=]]> date_add(Str_to_date(DATE_FORMAT(now(),'%Y-%m-%d'),'%Y-%m-%d'),INTERVAL #{begin} DAY))
    </select>


    <select id="getCodeUnionByItemCode" parameterType="java.util.HashMap" resultMap="TaskMap">
        select
        thsc.qrCode as qr_code,
        thsc_1.qrCode as package_code,
        thsc_1.parent_code as item_code,
        thsc.machine_code,
        thbm.machine_name,
        thsc_1.machine_code as package_machine_code,
        thbm_1.machine_name as package_machine_name,
        thsc.relation_date,
        thsc_1.relation_date as package_relation_date,
        thsc.brand_id,
        thsc.shift_id,
        thsc_1.shift_id as  package_shift_id
        from t_hl_system_code thsc
        left join t_hl_base_machine thbm
        on thsc.machine_code = thbm.machine_code
        left join t_hl_system_code thsc_1
        on thsc.parent_code = thsc_1.qrCode
        left join t_hl_base_machine thbm_1
        on thsc_1.machine_code = thbm_1.machine_code
        where thsc.package_type = 1
        and thsc_1.parent_code = #{itemCode}
    </select>
    
    <insert id="BatchInsertCodeUnion" parameterType="java.util.ArrayList" statementType="STATEMENT">
insert into ${tableName}
(qr_code,package_code,item_code,machine_code,machine_name,package_machine_code,package_machine_name,relation_date,package_relation_date,brand_id,shift_id,package_shift_id)
values
        <foreach collection="list" item="item" separator=",">
            ('${item.qrCode}','${item.packageCode}','${item.itemCode}',
            '${item.machineCode}','${item.machineName}','${item.packageMachineCode}',
            '${item.packageMachineName}','${item.relationDate}','${item.packageRelationDate}',
            '${item.brandId}','${item.shiftId}','${item.packageShiftId}')
        </foreach>

    </insert>

    <delete id="deleteCodeFromSystemCode" parameterType="java.lang.String">
        DELETE
A
from
t_hl_system_code  A
where  A.parent_code in
(
select qrcode from
(select
   DISTINCT(qrcode) as qrcode
        from t_hl_system_code thsc
        where thsc.package_type = 2
        and thsc.parent_code = #{itemCode} )c
);
 delete from t_hl_system_code where parent_code = #{itemCode} and package_type = 2;
 delete from t_hl_system_code where qrCode = #{itemCode} and package_type=3;
    </delete>

    <insert id="insertErrorCode" parameterType="com.hlxd.microcloud.vo.ScheduleErrorCode">
        insert into t_hl_system_code_error
        (qrcode,schedule_date,table_name,machine_code,relation_date,execute_state)values (#{qrCode},now(),#{tableName},#{machineCode},#{relationDate},#{executeState})
    </insert>

    <select id="getErrorCode" resultMap="errorMap" parameterType="java.lang.Integer">
        select
				id,
				qrcode,
				schedule_date,
				relation_date,
				machine_code,
				table_name
				from
				t_hl_system_code_error
				where execute_state = #{executeState}
    </select>
    <delete id="deleteSchedule" parameterType="java.lang.Integer">
        delete
        from t_hl_system_code_error
        where id = #{id}
    </delete>

    <update id="updateSchedule" parameterType="java.lang.Integer">
        update t_hl_system_code_error
        set execute_state = #{executeState}
        where id = #{id}
    </update>

    <delete id="deleteItemBeforeInsert" parameterType="java.lang.String" statementType="STATEMENT">
        delete
        from  ${tableName}
        where item_code = '${itemCode}'
    </delete>



</mapper>
