<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlxd.microcloud.dao.CodeMapper">

    <resultMap type="com.hlxd.microcloud.entity.ProCode" id="meMap">
        <result column="code" property="qrCode"/>
        <result column="parentCode" property="parentCode"/>
        <result column="produceDate" property="produceDate"/>
        <result column="productId" property="productId"/>
        <result column="machineCode" property="machineCode"/>
        <result column="verifyStatus" property="verifyStatus"/>
        <result column="type" property="type"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <resultMap type="com.hlxd.microcloud.entity.ProCode" id="baseMap">
        <result column="code" property="qrCode"/>
        <result column="parentCode" property="parentCode"/>
        <result column="produceDate" property="produceDate"/>
        <result column="productId" property="productId"/>
        <result column="machineCode" property="machineCode"/>
        <result column="productName" property="productName"/>
        <result column="machineName" property="machineName"/>
        <result column="verifyStatus" property="verifyStatus"/>
        <result column="type" property="type"/>
        <result column="remark" property="remark"/>
        <association property="logistics" javaType="com.hlxd.microcloud.entity.Logistics">
            <result column="lId" property="id"/>
            <result column="lQrCode" property="qrCode"/>
            <result column="lInHouseDate" property="inHouseDate"/>
            <result column="lOutHouseDate" property="outHouseDate"/>
            <result column="lPalletId" property="palletId"/>
            <result column="lCarNumber" property="carNumber"/>
            <result column="lPickNumber" property="pickNumber"/>
            <result column="lContractNumber" property="contractNumber"/>
            <result column="lCompanyCode" property="companyCode"/>
            <result column="lArrivalDate" property="arrivalDate"/>
            <result column="lVerifyStatus" property="verifyStatus"/>
            <result column="lRemark" property="remark"/>
        </association>
    </resultMap>

    <select id="getCodeDetails"  resultMap="baseMap" parameterType="java.util.HashMap">
        select tpc.code,
        tpc.parent_code as parentCode,
        tpc.produce_date as produceDate,
        tpc.product_id as productId,
        tpb.brand_name as productName,
        tpc.machine_code as machineCode,
        tpe.equipment_name as machineName,
        tpc.verify_status as verifyStatus,
        tpc.type,
        tpc.remark,
				tpl.id as lId,
				tpl.qr_code as lQrCode,
				tpl.in_house_date as lInHouseDate,
				tpl.out_house_date as lOutHouseDate,
				tpl.pallet_id as lPalletId,
				tpl.car_number as lCarNumber,
				tpl.pick_number as lPickNumber,
				tpl.contract_number as lContractNumber,
				tpl.company_code as lCompanyCode,
				tpl.arrival_date as lArrivalDate,
				tpl.verify_status as lVerifyStatus,
				tpl.remark as lRemark
        from t_pro_code tpc
        left join t_pro_brand tpb
        on tpb.brand_code = tpc.product_id
        left join t_pro_equipment tpe
        on tpe.equipment_code = tpc.machine_code
				left join t_pro_logistics tpl
				on
				(case tpc.type
				when 1 then (select parent_code from t_pro_code where code= tpc.parent_code)
				when 2 then parent_code
				when 3 then code
				else 4 end
				) = tpl.qr_code
        where code = #{qrCode}
    </select>

    <select id="getCodeByWrap" resultMap="meMap" parameterType="java.lang.String">
        SELECT code FROM t_pro_code t WHERE t.machine_code=#{machineCode} and t.produce_date BETWEEN #{doBeginDate} AND #{doEndDate}
    </select>

    <select id="getCodeByTime" resultMap="meMap" parameterType="java.lang.String">
        SELECT code FROM t_pro_code t WHERE t.produce_date BETWEEN #{startFeedingDate} AND #{endFeedingDate}
    </select>




</mapper>
