<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlxd.microcloud.dao.DiscardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hlxd.microcloud.vo.DiscardCode">
        <id column="id" property="id" />
        <result column="discard_type_code" property="disCardTypeCode" />
        <result column="discard_date" property="disCardDate" />
        <result column="shift_id" property="shiftId" />
        <result column="class_name" property="shiftName" />
        <result column="qrCode" property="qrCode" />
        <result column="discard_time" property="discardTime" />
        <result column="package_type" property="packageType" />
        <result column="machine_code" property="machineCode" />
        <result column="machine_Name" property="machineName" />
    </resultMap>

    <!-- 废码统计返回结果集 -->
    <resultMap id="DiscardMap" type="com.hlxd.microcloud.vo.DiscardCount">
        <result column="countDate" property="countDate" />
        <result column="packageCount" property="packageCount" />
        <result column="stripCount" property="stripCount" />
        <result column="uploadState" property="uploadState" />
        <result column="updateDate" property="updateDate" />
        <result column="upload_model" property="uploadModel" />
    </resultMap>

    <resultMap id="BaseCancelResultMap" type="com.hlxd.microcloud.vo.CancelRelation">
        <id column="id" property="id" />
        <result column="qrCode" property="qrCode" />
        <result column="parent_code" property="parentCode" />
        <result column="cancel_date" property="cancelDate" />
        <result column="machine_code" property="machineCode" />
        <result column="shift_id" property="shiftId" />
        <result column="class_name" property="shiftName" />
        <result column="relation_type" property="relationType" />
        <collection property="cancelRelations" ofType="com.hlxd.microcloud.vo.CancelRelation" javaType="java.util.ArrayList">
            <result column="c_qrCode" property="qrCode" />
            <result column="c_parent_code" property="parentCode" />
            <result column="c_cancel_date" property="cancelDate" />
            <result column="c_machine_code" property="machineCode" />
            <result column="c_shift_id" property="shiftId" />
            <result column="c_class_name" property="shiftName" />
            <result column="c_relation_type" property="relationType" />
        </collection>
    </resultMap>

    <select id="getDiscardCodeList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        select
        thdc.id,
        thdc.discard_type_code,
        thdc.discard_date,
        thdc.shift_id,
        thdc.qrCode,
        thdc.discard_time,
        thdc.package_type,
        thbm.machine_code,
        thssd.class_name
        from t_hl_discard_code thdc
        left join t_hl_system_shift_details thssd
        on thssd.id = thdc.shift_id
        left join t_hl_base_machine thbm
        on thbm.id = thdc.machine_code
        <trim prefix="where" prefixOverrides="AND | OR">
            <if test="null != packageType">
                AND thdc.package_type = #{packageType}
            </if>
            <if test="null != machineCode">
                AND machine_code = #{machineCode}
            </if>
            <if test="null != currentDate">
                AND discard_date = #{currentDate}
            </if>
        </trim>

    </select>


    <select id="getCancelRelationList" parameterType="java.util.HashMap" resultMap="BaseCancelResultMap">
        select

        distinct(thcr.parent_code) as qrCode,
        thcr.cancel_date,
        thbm1.machine_code,
        thbm1.machine_name,
        thcr.shift_id,
        thssd.class_name,
        thcr.relation_type,
		thcr1.qrCode as c_qrCode,
		thcr1.cancel_date as c_cancel_date,
        thbm.machine_code as c_machine_code,
        thbm.machine_name as c_machine_name,
        thssd.class_name as c_class_name,
        thcr1.shift_id as c_shift_id,
        thcr1.relation_type as c_relation_type
        from
        t_hl_cancel_relation thcr
        left join t_hl_base_machine thbm1
        on thbm1.machine_code = thcr.machine_code
				left join
				t_hl_cancel_relation thcr1
				on thcr1.parent_code = thcr.parent_code
				left join t_hl_system_shift_details thssd
				on thcr.shift_id = thssd.id
				left join t_hl_base_machine thbm
				on thcr1.machine_code = thbm.machine_code
				where thcr.relation_type = #{relationType}
				and thcr.machine_code = #{machineCode}
    </select>

    <select id="getDisCardCount" parameterType="java.util.HashMap"  resultMap="DiscardMap">
    select
discard_date as currentDate,
(select count(qrCode) from t_hl_discard_code where package_type =1 ) as packageCount,
(select count(qrCode) from t_hl_discard_code where package_type =2 ) as stripCount
from t_hl_discard_code
where discard_date = #{currentDate}
group by currentDate
    </select>

    <select id="getDisCardCountList" parameterType="java.util.HashMap"  resultMap="DiscardMap">
          select
          countDate,
          packageCount,
          stripCount,
          uploadState,
          updateDate,
          upload_model
          from t_hl_discard_upload
        <trim prefix="where" prefixOverrides="AND | OR">
            <if test="null != beginDate and '' != beginDate">
                AND str_to_date(countDate,'%Y-%m-%d') <![CDATA[>=]]> str_to_date(#{beginDate},'%Y-%m-%d')
            </if>
            <if test="null != endDate and '' != endDate">
                AND str_to_date(countDate,'%Y-%m-%d') <![CDATA[<=]]> str_to_date(#{endDate},'%Y-%m-%d')
            </if>
            <if test="null != uploadState and '' != uploadState">
                AND uploadState = #{uploadState}
            </if>
            <if test="null != uploadModel and '' != uploadModel">
                AND upload_model=#{uploadModel}
            </if>
        </trim>

    </select>

    <update id="updateDiscardCodeUpload" parameterType="java.util.HashMap">
        update t_hl_discard_upload
        <trim prefix="set" suffixOverrides=",">
            <if test=" uploadState !=null and '' != uploadState">uploadState = #{uploadState},</if>
        </trim>
        where countDate = #{currentDate}
    </update>

    <insert id="insertDiscardCodeRecord" parameterType="com.hlxd.microcloud.vo.DiscardCode">
        insert into
        t_hl_discard_upload
        (countDate,packageCount,StripCount,uploadState,updateDate)
        values
        (#{countDate},#{packageCount},#{StripCount},#{uploadState},now())
    </insert>

</mapper>
