<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlxd.microcloud.dao.IllegalCodeMapper">

    <resultMap id="baseMap" type="com.hlxd.microcloud.vo.IllegalCode">
        <result column="qrCode" property="qrCode"></result>
        <result column="package_type" property="packageType"></result>
        <result column="illegal_type" property="illegalType"></result>
        <result column="illegal_counts" property="illegalCounts"></result>
        <result column="scan_date" property="scanDate"></result>
        <result column="scan_time" property="scanTime"></result>
        <result column="code_counts" property="codeCount"></result>
    </resultMap>


    <insert id="getRepeatCode" parameterType="java.lang.String" >
        insert  into t_hl_illegal_code
(id,qrCode,package_type,illegal_type,illegal_counts,scan_date,scan_time)
select
uuid(),
a.*
from
(
select
qrCode,
${packageType} as package_type,
1 as illegal_type,
count(*),
DATE_FORMAT(now(),'%Y-%m-%d'),
now()
from ${tableName}
where package_type = ${packageType}
group by qrCode
having count(*)>1)as a
    </insert>


    <insert id="wrongRelationPackage" parameterType="java.lang.String" >
        insert  into t_hl_illegal_code
(id,qrCode,package_type,illegal_type,illegal_counts,scan_date,scan_time)
select
uuid(),
a.*
from
(
select
parent_code,
2 as package_type,
2 as illegal_type,
count(*),
DATE_FORMAT(now(),'%Y-%m-%d'),
now()
from
${tableName}
where package_type = 1
group by parent_code
having count(*) != 10

)as a
    </insert>

    <insert id="wrongRelationStrip" parameterType="java.lang.String" >
        insert  into t_hl_illegal_code
(id,qrCode,package_type,illegal_type,illegal_counts,scan_date,scan_time)
select
uuid(),
a.*
from
(
select
parent_code,
3 as package_type,
3 as illegal_type,
count(*),
DATE_FORMAT(now(),'%Y-%m-%d'),
now()
from
${tableName}
where package_type = 2
group by parent_code
having count(*) != 50

)as a
    </insert>

    <insert id="containDiscardCodeStrip" parameterType="java.lang.String" >
        insert  into t_hl_illegal_code
(id,qrCode,package_type,illegal_type,illegal_counts,scan_date,scan_time)
select
uuid(),
a.*
from
(
select
parent_code,
2 as package_type,
4 as illegal_type,
count(*),
DATE_FORMAT(now(),'%Y-%m-%d'),
now()
from
${tableName} thsc
inner join
t_hl_discard_code thdc
on thdc.qrCode = thsc.qrCode
where
thsc.package_type = 1
group by parent_code

)as a
    </insert>


    <insert id="containDiscardCodeItem" parameterType="java.lang.String" >
        insert  into t_hl_illegal_code
(id,qrCode,package_type,illegal_type,illegal_counts,scan_date,scan_time)
select
uuid(),
a.*
from
(
select
parent_code,
3 as package_type,
5 as illegal_type,
count(*),
DATE_FORMAT(now(),'%Y-%m-%d'),
now()
from
${tableName} thsc
inner join
t_hl_discard_code thdc
on thdc.qrCode = thsc.qrCode
where
thsc.package_type = 2
group by parent_code
)as a
    </insert>


    <insert id="markedRejectItem" parameterType="java.lang.String" >
        insert  into t_hl_illegal_code
(id,qrCode,package_type,illegal_type,illegal_counts,scan_date,scan_time)
select
uuid(),
a.*
from
(
select
parent_code,
3 as package_type,
6 as illegal_type,
count(*),
DATE_FORMAT(now(),'%Y-%m-%d'),
now()
from
${tableName} thsc
inner join
t_hl_reject_detail thrd
on thrd.qrCode = thsc.parent_code
where
thsc.package_type = 2
group by parent_code
)as a
    </insert>

    <select id="getIllegalCodeCount" parameterType="java.util.HashMap" resultMap="baseMap">
        select
        scan_date,
        <if test="null != packageType and '' != packageType">
            package_type,
        </if>
        <if test="null != illegalType and '' != illegalType">
            illegal_type,
        </if>
        count(qrCode) as code_counts
        from t_hl_illegal_code
        <trim prefix="where" prefixOverrides="AND|OR">
            <if test="null != packageType and '' != packageType">
                AND package_type = #{packageType}
            </if>
            <if test="null != scanDate and '' != scanDate ">
                AND scan_date = #{scanDate}
            </if>
            <if test="null != illegalType and '' != illegalType">
                AND illegal_type = #{illegalType}
            </if>
        </trim>
        <trim prefix="group by" prefixOverrides=",">
            <if test="null != packageType and '' != packageType">
                 ,package_type
            </if>
            <if test="1 == 1">
                ,scan_date
            </if>
            <if test="null != illegalType and '' != illegalType">
                ,illegal_type
            </if>
        </trim>

    </select>
    <select id="getIllegalCode" parameterType="java.util.HashMap" resultMap="baseMap">
        select
        qrCode,
        package_type,
        illegal_type,
        illegal_counts,
        scan_date,
        scan_time
        from t_hl_illegal_code
        <trim prefix="where" prefixOverrides="AND|OR" >
            <if test="null != beginDate and '' != beginDate">
              AND STR_TO_DATE(scan_date,'%Y-%m-%d') <![CDATA[>=]]> STR_TO_DATE(#{beginDate},'%Y-%m-%d')
            </if>
            <if test="null != endDate and '' != endDate">
                AND STR_TO_DATE(scan_date,'%Y-%m-%d') <![CDATA[<=]]> STR_TO_DATE(#{endDate},'%Y-%m-%d')
            </if>
            <if test="null != produceDate and '' != produceDate">
                AND scan_date = #{produceDate}
            </if>
            <if test="null != packageType and '' != packageType">
                AND package_type = #{packageType}
            </if>
            <if test="null != illegalType and '' != illegalType">
                AND illegal_type = #{illegalType}
            </if>
        </trim>
        limit #{fromIndex},#{size}

    </select>





</mapper>
