<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hlxd.microcloud.dao.MaterConsymeMapper" >
  <resultMap id="BaseResultMap" type="com.hlxd.microcloud.entity.MaterConsyme" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="material_code" property="materialCode" jdbcType="VARCHAR" />
    <result column="logistics_number" property="logisticsNumber" jdbcType="DECIMAL" />
    <result column="unit_name" property="unitName" jdbcType="VARCHAR" />
    <result column="do_use" property="doUse" jdbcType="DECIMAL" />
    <result column="do_unit_name" property="doUnitName" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="batch_number" property="batchNumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, material_code, logistics_number, unit_name, do_use, do_unit_name, remark, batch_number
  </sql>

  <select id="selectByMaterCode" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT t.batch_number FROM t_pro_material_consume t WHERE t.material_code =#{materialCode}
  </select>
</mapper>