<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlxd.microcloud.dao.SoftManagementMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hlxd.microcloud.vo.SoftVo">
        <result column="id" property="id"/>
        <result column="soft_name" property="softName"/>
        <result column="match_machine_type" property="matchMachineType"/>
        <result column="match_machine_name" property="matchMachineName"/>
        <result column="soft_remark" property="softRemark"/>
        <collection property="softVersions" ofType="com.hlxd.microcloud.vo.SoftManagement">
            <id column="v_id" property="id" />
            <result column="v_soft_id" property="softId"/>
            <result column="v_soft_name" property="softName" />
            <result column="v_soft_remark" property="softRemark" />
            <result column="v_last_version" property="lastVersion" />
            <result column="v_soft_upload_date" property="softUploadTime" />
            <result column="v_file_name" property="filePath" />
            <result column="v_file_path" property="fileName" />
        </collection>
        <collection  property="matchMachineModel" ofType="com.hlxd.microcloud.vo.SoftManagementRecordDetails">
            <result column="m_match_machine_model" property="machineModel" />
            <result column="m_id" property="id" />
            <result column="m_soft_id" property="softId" />
        </collection>
    </resultMap>

    <resultMap id="versionMap" type="com.hlxd.microcloud.vo.SoftManagement">
        <id column="id" property="id" />
        <result column="soft_id" property="softId"/>
        <result column="soft_name" property="softName" />
        <result column="soft_remark" property="softRemark" />
        <result column="last_version" property="lastVersion" />
        <result column="soft_upload_date" property="softUploadTime" />
        <result column="file_name" property="filePath" />
        <result column="file_path" property="fileName" />
    </resultMap>

    <insert id="insertSoft" parameterType="com.hlxd.microcloud.vo.SoftVo">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            select max(id)  from t_hl_soft
        </selectKey>
        insert into t_hl_soft
        (soft_name,match_machine_type,soft_remark)
        values(#{softName},#{matchMachineType},#{softRemark})
    </insert>

    <update id="updateSoft" parameterType="java.util.HashMap">
        update t_hl_soft
        <trim prefix="set" suffixOverrides=",">
            <if test="null != softName">
             soft_name = #{softName},
            </if>
            <if test="null != matchMachineType">
             match_machine_type = #{matchMachineType},
            </if>
            <if test="null != softRemark">
             soft_remark = #{softRemark},
            </if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSoft" parameterType="java.lang.Integer">
        delete from t_hl_soft
        where id = #{id}
    </delete>

    <insert id="insertSoftManagementRecord"  parameterType="com.hlxd.microcloud.vo.SoftManagement">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            select max(id)  from t_hl_soft_management
        </selectKey>
        insert into
        t_hl_soft_management
        (soft_name,soft_remark,last_version,soft_upload_date,
        file_name,file_path,soft_id)
        values(#{softName},#{softRemark},#{lastVersion},now(),
        #{fileName},#{filePath},#{softId}
        )
    </insert>

    <update id="updateSoftManagementRecord" parameterType="com.hlxd.microcloud.vo.SoftManagement">
        update t_hl_soft_management
        <trim prefix="set" suffixOverrides=",">
            <if test="vo.softName!=null">soft_name = #{vo.softName},</if>
            <if test="vo.softRemark!=null">soft_remark = #{vo.softRemark},</if>
            <if test="vo.lastVersion!=null">last_version = #{vo.lastVersion},</if>
        </trim>
        where id = #{vo.id}
    </update>
    
    <delete id="deleteSoftManagementRecord" parameterType="java.lang.Integer">
        delete from t_hl_soft_management
        where id = #{id}
    </delete>

    <insert id="batchAddSoftManagementRecordDetails" >
        insert into t_hl_soft_match_machine
        (soft_Id,match_model)
        values
        <foreach collection="addMachineModels" item="item" index="index" separator=",">
            (#{softId},#{item})
        </foreach>
    </insert>

    <delete id ="batchDeleteSoftManagementRecordDetails">
        delete
        from t_hl_soft_match_machine
        where id in
        <foreach collection="ids" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <select id="getSoftManagement" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        select
        ths.id,
        ths.soft_name,
        ths.match_machine_type,
        thsd.key as match_machine_name,
        ths.soft_remark,
        thsm.id as v_id,
        thsm.soft_name as v_soft_name,
        thsm.soft_remark as v_soft_remark,
        thsm.last_version as v_last_version,
        thsm.soft_upload_date as v_soft_upload_date,
        thsm.file_name as v_file_name,
        thsm.soft_id as v_soft_id,
        thsm.file_path as v_file_path,
        thsmm.id as m_id,
        thsmm.soft_id as m_soft_id,
        thsmm.match_model as m_match_machine_model
        from t_hl_soft ths
        left join t_hl_soft_management thsm
        on ths.id = thsm.soft_id
        left join t_hl_soft_match_machine thsmm
        on ths.id = thsmm.soft_id
        left join t_hl_system_dict thsd
        on ths.match_machine_type = thsd.value and thsd.parent_id = 1
        <trim prefix="where" prefixOverrides="AND" >
            <if test="null != id">
                AND ths.id = #{id}
            </if>
            <if test="null != softMachineType">
                AND ths.match_machine_type = #{softMachineType}
            </if>
            <if test="null != softName">
                AND ths.soft_name like CONCAT(CONCAT('%',#{softName}),'%')
            </if>
            <if test="null != validateSoftName">
                AND ths.soft_name = #{validateSoftName}
            </if>
            <if test="null != versionName">
                AND thsm.soft_name like CONCAT(CONCAT('%',#{versionName}),'%')
            </if>
            <if test="null != lastVersion">
                AND thsm.last_version = #{lastVersion}
            </if>
            <if test="null != machineModel">
                AND thsmm.match_model= #{machineModel}
            </if>
            <if test="null != validate">
                AND ORDER BY thsm.soft_upload_date
            </if>
        </trim>
    </select>

    <select id="getSoftVersion" parameterType="java.util.HashMap" resultMap="versionMap">
        select
        thsm.id as id,
        thsm.soft_name as softName,
        thsm.soft_remark as softRemark,
        thsm.last_version as lastVersion,
        thsm.soft_upload_date as softUploadDate,
        thsm.file_name as fileName,
        thsm.soft_id as softId,
        thsm.file_path as filePath
        from t_hl_soft_management thsm
        <trim prefix="where" prefixOverrides="AND">
            <if test="null != softId">
                AND thsm.soft_id = #{softId}
            </if>
            <if test="null != id">
                AND thsm.id = #{id}
            </if>
        </trim>
    </select>



</mapper>
