<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlxd.microcloud.dao.SystemRoleMenuMapper">



    <delete id="deleteSingleSystemRoleMenu" parameterType="java.lang.String">
        delete from t_hl_system_department_menu
        where department_id = #{department_id}
    </delete>

    <insert id="addSystemRoleMenu" parameterType="com.hlxd.microcloud.vo.SystemRoleMenu">
        INSERT INTO t_hl_system_department_menu
        (id,department_id,method_id,menu_id,status)
        values
        (#{id},#{departmentId},#{methodId},#{menuId},#{status})
    </insert>

    <delete id="deleteSystemRoleMenu" parameterType="java.util.HashMap">
        delete from t_hl_system_department_menu
        where department_id = #{departmentId}
        and menu_Id = #{menuId}

    </delete>










</mapper>
