<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hlxd.microcloud.dao.ThrowingMapper">

    <resultMap type="com.hlxd.microcloud.entity.Throwing" id="meMap">
        <result column="id" property="id"/>
        <result column="throwing_number" property="throwingNumber"/>
        <result column="plan_begin_date" property="planBeginDate"/>
        <result column="plan_end_date" property="planEndDate"/>
        <result column="do_begin_date" property="doBeginDate"/>
        <result column="do_end_date" property="doEndDate"/>
        <result column="blending_weight" property="blendingWeight"/>
        <result column="product_weight" property="productWeight"/>
        <result column="line_code" property="lineCode"/>
        <result column="section_id" property="sectionCode"/>
        <result column="class_id" property="classId"/>
        <result column="className" property="className"/>
        <result column="blending_number" property="blendingNumber"/>
        <result column="remark" property="remark"/>
    </resultMap>


    <resultMap type="com.hlxd.microcloud.entity.Throwing" id="baseMap">
        <result column="id" property="id"/>
        <result column="throwingNumber" property="throwingNumber"/>
        <result column="planBeginDate" property="planBeginDate"/>
        <result column="planEndDate" property="planEndDate"/>
        <result column="doBeginDate" property="doBeginDate"/>
        <result column="doEndDate" property="doEndDate"/>
        <result column="blendingWeight" property="blendingWeight"/>
        <result column="productWeight" property="productWeight"/>
        <result column="lineCode" property="lineCode"/>
        <result column="lineName" property="lineName"/>
        <result column="sectionId" property="sectionCode"/>
        <result column="sectionName" property="sectionName"/>
        <result column="classId" property="classId"/>
        <result column="className" property="className"/>
        <result column="blendingNumber" property="blendingNumber"/>
        <result column="remark" property="remark"/>
        <collection property="Verifications" ofType="com.hlxd.microcloud.entity.Verification">
            <result column="wrap_self_id" property="id"/>
            <result column="wrap_self_verificationNumber" property="verificationNumber"/>
            <result column="wrap_self_verificationType" property="verificationType"/>
            <result column="wrap_self_simpleDate" property="simpleDate"/>
            <result column="wrap_self_simpleCount" property="simpleCount"/>
            <result column="wrap_self_verificationPeople" property="verificationPeople"/>
            <result column="wrap_self_score" property="score"/>
            <result column="wrap_self_remark" property="remark"/>
            <result column="wrap_self_batchNumber" property="batchNumber"/>
            <collection property="verificationDetails" ofType="com.hlxd.microcloud.entity.VerificationDetails">
                <result column="wrap_spot_details_id" property="id"/>
                <result column="wrap_spot_details_verificationId" property="verificationId"/>
                <result column="wrap_spot_details_itemName" property="itemName"/>
                <result column="wrap_spot_details_itemCode" property="itemCode"/>
                <result column="wrap_spot_details_standValue" property="standValue"/>
                <result column="wrap_spot_details_average" property="average"/>
                <result column="wrap_spot_details_max" property="simpleMax"/>
                <result column="wrap_spot_details_min" property="simpleMin"/>
                <result column="wrap_spot_details_cv" property="cv"/>
                <result column="wrap_spot_details_cpk" property="cpk"/>
                <result column="wrap_spot_details_matchRate" property="matchRate"/>
                <result column="wrap_spot_details_remark" property="remark"/>
            </collection>
        </collection>
        <collection property="materialConsumes" ofType="com.hlxd.microcloud.entity.MaterialConsume">
            <result column="consume_id" property="id"/>
            <result column="consume_doUse" property="doUse"/>
            <result column="consume_unitName" property="unitName"/>
            <result column="consume_materialCode" property="materialCode"/>
            <result column="consume_materialName" property="materialName"/>
            <result column="consume_logistics" property="logisticsNumber"/>
            <result column="consume_doUnitName" property="doUnitName"/>
            <result column="consume_remark" property="remark"/>
            <collection property="materialConsumeDetails" ofType="com.hlxd.microcloud.entity.MaterialConsumeDetails">
                <result column="consume_details_id" property="id"/>
                <result column="consume_details_consumeId" property="consumeId"/>
                <result column="consume_details_boxCode" property="boxCode"/>
                <result column="consume_details_beginDate" property="beginDate"/>
                <result column="consume_details_endDate" property="endDate"/>
                <result column="consume_details_produceDate" property="produceDate"/>
                <result column="consume_details_purchaseNumber" property="purchaseNumber"/>
                <result column="consume_details_supplier" property="supplier"/>
                <result column="consume_details_remark" property="remark"/>
            </collection>
        </collection>
        <collection property="blendings" ofType="com.hlxd.microcloud.entity.Blending">
            <result column="blending_id" property="id"/>
            <result column="blending_blendingDate" property="blendingDate"/>
            <result column="blending_blendingNumber" property="blendingNumber"/>
            <result column="blending_lineCode" property="lineCode"/>
            <result column="blending_lineName" property="lineName"/>
            <result column="blending_brandCode" property="brandCode"/>
            <result column="blending_brandName" property="brandName"/>
            <result column="blending_blendingFormulation" property="blendingFormulation"/>
            <result column="blending_planBlendingQuantity" property="planBlendingQuantity"/>
            <result column="blending_planBlendingWeight" property="planBlendingWeight"/>
            <result column="blending_doBlendingQuantity" property="doBlendingQuantity"/>
            <result column="blending_doBlendingWeight" property="doBlendingWeight"/>
            <result column="blending_blendingStatus" property="blendingStatus"/>
            <result column="blending_remark" property="remark"/>
            <collection property="blendingDetails" ofType="com.hlxd.microcloud.entity.BlendingDetails">
                <result column="blending_details_id" property="id"/>
                <result column="blending_details_blendingNumber" property="blendingNumber"/>
                <result column="blending_details_boxCode" property="boxCode"/>
                <result column="blending_details_blendingDate" property="blendingDate"/>
                <result column="blending_details_tobaccoYear" property="tobaccoYear"/>
                <result column="blending_details_produceArea" property="produceArea"/>
                <result column="blending_details_breed" property="breed"/>
                <result column="blending_details_level" property="level"/>
                <result column="blending_details_grossWeight" property="grossWeight"/>
                <result column="blending_details_netWeight" property="netWeight"/>
                <result column="blending_details_redryNumber" property="redryNumber"/>
                <result column="blending_details_remark" property="remark"/>
            </collection>


        </collection>

    </resultMap>

    <select id="getThrowDetails"  resultMap="baseMap" parameterType="java.util.HashMap">
         select
tpt.id,
tpt.throwing_number as throwingNumber,
tpt.plan_begin_date as planBeginDate,
tpt.plan_end_date as planEndDate,
tpt.do_begin_date as doBeginDate,
tpt.do_end_date as doEndDate,
tpt.blending_weight as blendingWeight,
tpt.product_weight as productWeight,
tpt.line_code as lineCode,
tppl.production_line_name as lineName,
tpt.section_id as sectionId,
tpws.workshop_section_name as sectionName,
tpt.class_id as classId,
tps.shifts_name as className,
tpt.blending_number as blendingNumber,
tpt.remark,
/*检测数据*/
tpv.id as wrap_self_id,
tpv.verification_number as wrap_self_verificationNumber,
tpv.verification_type as wrap_self_verificationType,
tpv.simple_date as wrap_self_simpleDate,
tpv.simple_count as wrap_self_simpleCount,
tpv.verification_people as wrap_self_verificationPeople,
tpv.score as wrap_self_score,
tpv.remark as wrap_self_remark,
tpv.batch_number as wrap_self_batchNumber,
/*检测详情数据*/
tpvd.id as wrap_spot_details_id,
tpvd.verification_id as wrap_spot_details_verificationId,
tpvd.item_code as wrap_spot_details_itemCode,
tpts.standard_name as wrap_spot_details_itemName,
tptsv.standard_value as wrap_spot_details_standValue,
tpvd.simple_max as wrap_spot_details_max,
tpvd.simple_min as wrap_spot_details_min,
tpvd.average as wrap_spot_details_average,
tpvd.cv as wrap_spot_details_cv,
tpvd.CPK as wrap_spot_details_cpk,
tpvd.match_rate as wrap_spot_details_matchRate,
tpvd.remark as wrap_spot_details_remark,
/**物料消耗数据*/
tpm.id as consume_id,
tpm.do_use as consume_doUse,
tpm.unit_name as consume_unitName,
tpm.material_code as consume_materialCode,
tpmt.material_name as consume_materialName,
tpm.logistics_number as consume_logistics,
tpm.do_unit_name as consume_doUnitName,
tpm.remark as consume_remark,
/**物料消耗详情*/
tpmd.id as consume_details_id,
tpmd.consume_id as consume_details_consumeId,
tpmd.box_code as consume_details_boxCode,
tpmd.begin_date as consume_details_beginDate,
tpmd.end_date as consume_details_endDate,
tpmd.produce_date as consume_details_produceDate,
tpmd.purchase_number as consume_details_purchaseNumber,
tpmd.supplier as consume_details_supplier,
tpmd.remark as consume_details_remark,
/**投料信息*/
tpb.id as blending_id,
tpb.blending_date as blending_blendingDate,
tpb.blending_number as blending_blendingNumber,
tpb.line_code as blending_lineCode,
(select production_line_name from t_pro_production_line where production_line_code = tpb.line_code) as blending_lineName,
tpb.brand_code as blending_brandCode,
(select brand_name from t_pro_brand where brand_code = tpb.brand_code) as blending_brandName,
tpb.blending_formulation as blending_blendingFormulation,
tpb.plan_blending_quantity as blending_planBlendingQuantity,
tpb.plan_blending_weight as blending_planBlendingWeight,
tpb.do_blending_quantity as blending_doBlendingQuantity,
tpb.do_blending_weight as blending_doBlendingWeight,
tpb.blending_status as blending_blendingStatus,
tpb.remark as blending_remark,
/**投料详情信息*/
tpbd.id as blending_details_id,
tpbd.blending_number as blending_details_blendingNumber,
tpbd.box_code as blending_details_boxCode,
tpbd.blending_date as blending_details_blendingDate,
tpbd.tobacco_year as blending_details_tobaccoYear,
tpbd.produce_area as blending_details_produceArea,
tpbd.breed as blending_details_breed,
tpbd.level as blending_details_level,
tpbd.gross_weight as blending_details_grossWeight,
tpbd.net_weight as blending_details_netWeight,
tpbd.redry_number as blending_details_redryNumber,
tpbd.remark as blending_details_remark
from t_pro_throwing tpt
left join  t_pro_verification tpv/*质检表*/
on tpt.throwing_number = tpv.batch_number
left join t_pro_verification_details tpvd/**质检详情表*/
on tpv.id = tpvd.verification_id
left join t_pro_technology_standard tpts/**工艺标准表*/
on tpts.standard_code = tpvd.item_code
left join t_pro_technology_standard_value tptsv
on tpts.standard_code = tptsv.standard_code
left join t_pro_materialConsume tpm/**辅料消耗表*/
on tpt.throwing_number = tpm.batch_number
left join t_pro_materialConsume_details tpmd/**辅料消耗详情表*/
on tpmd.consume_id=tpm.id
left join t_pro_material tpmt/**辅料表*/
on tpm.material_code = tpmt.material_code
left join t_pro_production_line tppl/**生产线表*/
on tpt.line_code = tppl.production_line_code
left join t_pro_workshop_section tpws/**工段表*/
on tpt.section_id = tpws.workshop_section_code
left join t_pro_shifts tps/**班组表*/
on tpt.class_id = tps.shifts_code
left join t_pro_blending tpb/**投料表*/
on tpt.blending_number = tpb.blending_number
left join t_pro_blending_details tpbd
on tpb.blending_number = tpbd.blending_number
where tpt.throwing_number =#{throwingNumber}
    </select>


    <select id="getThrowByOrder" resultMap="meMap" parameterType="java.lang.String">
        SELECT t.do_begin_date, t.do_end_date  from t_pro_throwing t WHERE t.throwing_number=#{throwingNumber}
    </select>



</mapper>
